name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true

      - name: Install dependencies and Tidy
        run: |
          go mod download
          go mod tidy

      - name: Build
        env:
          CGO_ENABLED: 1
        run: go build -v ./...

      - name: Test
        env:
          CGO_ENABLED: 1
        run: go test -v ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: Run gosec (Security Scanner)
        uses: securego/gosec@master
        with:
          args: ./...
